.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
02_Data/
03_Scripts/Supplemental/99-06-export-csv.R
04_Figures/
05_Results/
_rslurm_*/
*.rds
03_Scripts/Supplemental/99-99-data-Bridget.R
03_Scripts/Supplemental/99-08-export-csv.R
